<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
   
     
        <div>@RenderBody() </div>
        <br />

        @if (User.Identity.IsAuthenticated)
        {
            <h2>You are signed in as @User.Identity.Name</h2>
            <form asp-controller="Security" asp-action="SignOut" method="post">
                <button type="submit">Sign Out</button>
            </form>
        }

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>

